@charset "utf-8";
/*css documment containing site wide rules to be applied across all devices on all browsers.*/
/* Import the fonts style to allow use webfonts in our site.*/

/* import the lobster font the google api */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('fonts');

/*style the page /document body */
@media (max-width: 767px){
      body {
          margin: 0;
          padding: 70px 0;
          font-size: 17px;
          font-family: 'Gravitas One';
      }
}
body {
          background-image: url("../images/city-9169729_1280.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
      }
 
/*Heading styles*/
h1 {
    color: #ff4444;
}
 
h2 {
    color: #ff9900;
}
 
h3 {
    color: #33cc33;
}
 
h4 {
    color: #3399ff;
}
 
h5 {
    color: #cc33ff;
}
 
h6 {
    color: #ff33aa;
}
 
/*Normal text*/
p, li, dd {
    color: #ffffff;
}
 
 
/*Opaque content box*/
#container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 60px auto;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    border-radius: 20px;
}
 /*social media Heading styles*/
.social-heading {
    font-family: 'Gravitas One';
    color: blueviolet;
    text-align: center;
    font-weight: 800;
}
/*Heading styles*/

.page-heading {
    text-align: center;
    color: #ff4444;
    font-family: 'Roboto Condensed';
}
 
.page-heading-underline {
    display: block;
    width: 60%;
    height: 4px;
    background-color: #0beaf5;
    margin: 10px auto;
}
 
/*Footer*/
.page-footer {
    margin-top: 30px;
    text-align: center;
    color: #0beaf5;
    font-size: 0.9em;
    font-family: "lobster";
 
}
 
/*Links*/
a {
    color: #0beaf5;
    text-decoration: none;
}
 
a:hover {
    text-decoration: underline;
}