@charset "utf-8";
 
/*css documment containing site wide rules to be applied across all devices on all browsers.*/
/* Import the fonts style to allow use webfonts in our site.*/
@import url('fonts');
 
/*style the page /document body */
@media (max-width: 767px){
 
    body {
 
        color: white;
        background-color: black; 
        background-image: url("../images/tree.jpg");
        background-repeat: no-repeat; 
        background-position: center center;
        background-size: cover;
    }
}
 
body{
 
    margin: 0;
    padding: 0;
    padding-top: 70px;
    text-align: justify;
    font-size: 17px;
    background-color: deeppink;
}
 
#container{
 
    margin:2% auto;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(0,0,0,75);
    color: #fff;
    width: 90%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px ;
}
.page-heading
{
color: #f00;
font-weight: 800;
font-size: 2.2em;
text-align: center;
font-size: 1.5em;
 
 
}
 
.page-heading-underline{
    border-bottom: medium double #0beaf5;
   
color: #f00;
font-weight: 800;
font-size: 2.2em;
text-align: center;
font-size: 1.5em;
 
}
.page-footer{
color: #0beaf5;
text-align: center;
margin-top: 2px;
margin-bottom: 2px;
/*TODO: specify the page footer font in the our site .*/
}
 